.body {
    height: 100%;
    background-color: white; 
    color: black;

    margin-top: 8%;
    margin-bottom: 10%;;

    line-height: 37px;
    font-family: Fraunces;
    font-size: 30px;
}

.opener {
    margin-top: 1%;
    margin-right: 2%;
    text-align: center;
}

.logo {
    margin-top: 0%;
    width: 50%;
    margin-left: 25%;
}

.button {
    margin-top: 2%;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: SFCompactText-Bold;
    border-radius: 16.25px;
    width: 30%;
    aspect-ratio: 7;
    margin-left: 34%;
}

/* mobile-only*/
@media only screen and (max-width: 768px) {

    .body {
        margin-top: 38%;
        font-size: 15px;
        line-height: 22px;
    }

    .opener {
        margin-top: 3%;
        width: 100%
    }

    .logo {
        margin-left: 6%;
        width: 88%;
        float: none;
    }
    .button {
        font-size: 16px;
        width: 94%;
        margin-left: 3%;
        border-radius: 13.64px;
    }
}

/* iPhone 8 and below */
@media only screen and (max-height: 600px) {

    .body {
        margin-top: 30%
    }
}

@font-face {
    font-family: Fraunces;
    src: url(Assets/fraunces.ttf);
}
@font-face {
    font-family: SFCompactText-Bold;
    src: url(Assets/SF-Compact-Text-Bold.otf);
}